<div class="scrollable">
<div class="scrollable-content" ng-controller="CreateEventController">
	  <div class="col-sm-10" ng-repeat="(id, item) in items">
	            <div class="panel panel-info">
	              <div class="panel-heading">
					  <p align="right"><a href="#" ng-click="removeItem(id)" class="glyphicon glyphicon-remove"></a></p>
	                <h2 class="panel-title">{{item.eventName}} ( {{item.startDate|date: 'yyyy-MM-dd'}}-{{item.endDate|date: 'yyyy-MM-dd'}} )&nbsp&nbspAvailable:&nbsp{{item.noOfPpl}} people</h2> 
				  </div>
	               <div class="panel-body">
	                 {{item.description}} <br/>
	               </div>
	            </div>
	          </div>
    <div class="scrollable-content">
	    <div class="list-group text-center">
	      <div class="list-group-item list-group-item-home">					      
			   		
				   <h2 class="form-signin-heading">Create a game</h2>			
				<fieldset>  				  	   
    <form class="form-signin" role="form" novalidate ng-submit="addItem()">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newItem.eventName" placeholder="Event name"><br/>
            <input type="text" class="form-control" ng-model="newItem.description" placeholder="Event description"><br/>  
            <h4>Start date:</h4>
			 <p class="input-group">
			             <input type="text" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" ng-model="newItem.startDate" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
			<h4>End date:</h4>
			<p class="input-group">
			             <input type="text" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" ng-model="newItem.endDate" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
			
            <input type="text" class="form-control" ng-model="newItem.noOfPpl" placeholder="No of people"></br>
        </div>
		<br/>
        <button type="submit" class="btn btn-default">Create event</button>
    </form>
				</fieldset>				
			
			  </div>
		   </div>				
      </div>
</div>
</div>
<!--<div class="scrollable" ng-controller="CreateEventController">
    <div class="scrollable-content">
	    <div class="list-group text-center">
	      <div class="list-group-item list-group-item-home">					      
			   <form class="form-signin">		
				   <h2 class="form-signin-heading">Create a game</h2>			
				<fieldset>  				  
				<div class="form-group">				  
				        	<input type="text" class="form-control" id="eventName" placeholder="Event name">&nbsp;<br/>   
							<input type="text" class="form-control" id="startDate" placeholder="Start date">&nbsp;<br/>
		   		   		    <input type="text" class="form-control" id="endDate" placeholder="End date">&nbsp;<br/>
		   		   		    <input type="text" class="form-control" id="location" placeholder="Location" ng-model="chosenPlace" 							details="chosenPlaceDetails" googleplace>&nbsp;<br/>
							<div id="map"></div>
		 				  <br/>	
		 				 <h4>Number of people:</h4>
		 				 <rzslider rz-slider-floor="numOfMember.floor" rz-slider-ceil="numOfMember.ceil" 
		 				 rz-slider-model="numOfMember.min" ></rzslider>
 		 				 <label for="numOfLevel" class="control-label col-lg-1">Level&nbsp;(From beginner to professional):</label>
 		 				 <rzslider rz-slider-floor="level.floor" rz-slider-ceil="level.ceil" 
 		 				 rz-slider-model="level.min" ></rzslider>	
						 <span align="left">Beginner</span>	
				      </div> 				 
				  <br/>	
				 <button type="submit" class="btn btn-lg btn-primary btn-block">Create event</button>
				  </div>
				  
				</fieldset>				
			  </form>	
			  </div>
		   </div>				
      </div>
</div>-->
