<div ng-controller="LoginController" class="scrollable">  
  <div class="scrollable-content">
    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
	         <form class="form-signin">
	           <h2 class="form-signin-heading">Please sign in</h2>
	           <label for="inputEmail" class="sr-only">Email address</label>
	           <input ng-model="user.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	           <label for="inputPassword" class="sr-only">Password</label>
	           <input ng-model="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	           <div class="checkbox">
	             <label>
	               <input type="checkbox" value="remember-me"> Remember me
	             </label>
	           </div>
	           <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="SignIn($event)">Login</button>
	         </form>
			 <form class="form-signin">
			 <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="go('register')">Sign Up Now</button>
			 </form>
	       <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	     <!--  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
      </div>
    </div>
  </div>
</div>
