<div ng-controller="CreateUserController　as registration" class="scrollable">
<div class="scrollable">  
  <div class="scrollable-content">
    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
			<h2>Sign Up</h2>
		    <form name="registrationForm" novalidate 
		             ng-submit="registration.submit(registrationForm.$valid)">
		          <div class="form-group">
		               <label>User Name</label>
		               <input type="email" name="email" id="email" class="form-control" ng-model="registration.user.email" required validate-email="registration.user.email" />
		               <div ng-messages="registrationForm.email.$error"> <div ng-messages-include="messages.html"></div>
		           </div>
		           <div class="form-group">
		               <label>Password</label>
		               <input type="password" name="password" class="form-control" ng-model="registration.user.password" required />
		               <div ng-messages="registrationForm.password.$error"> <div ng-messages-include="messages.html"></div>
		           </div>
		           <div class="form-group">
		               <label>Confirm Password</label>
		               <input type="password" name="confirmPassword" class="form-control" 
		                      ng-model="registration.user.confirmPassword" 
		                      required compare-to="registration.user.password" />
		               <div ng-messages="registrationForm.confirmPassword.$error"> <div ng-messages-include="messages.html"></div>
		           </div>
		           <div class="form-group">
		               <button type="submit" class="btn btn-primary" ng-disabled="registrationForm.$invalid">Register</button><br/>
	               </div>
				    <p style="color:red;" ng-show="createAccountError">{{createAccountMessage}}</span>	
		       </form>				
		</div>
	</div>
	</div>
</div>
</div>